# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Alembic migrations cache
alembic/__pycache__/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docs or temp files
*.docx